## infer_objectは文字を数字に変換してはくれないよ、という話

StackOverflowのURL：  https://stackoverflow.com/questions/35003138/python-pandas-inferring-column-datatypes/48269724 のコメント  

関数APIのURL：https://pandas.pydata.org/pandas-docs/version/0.25.3/reference/api/pandas.DataFrame.infer_objects.html  
（今後メジャーアップデートが来るから、バージョン指定したURLにしておくよ）  
https://pandas.pydata.org/pandas-docs/version/0.25.3/reference/api/pandas.Series.infer_objects.html

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.3'

In [3]:
df1 = pd.DataFrame(['1', '2', '3'])
df1.dtypes

0    object
dtype: object

In [4]:
df1.infer_objects().dtypes

0    object
dtype: object

---

In [5]:
# 公式ドキュメントに載っている例

df2 = pd.DataFrame({"A": ["a", 1, 2, 3]})
df2 = df2.iloc[1:]
df2

   A
1  1
2  2
3  3

In [6]:
df2.dtypes

A    object
dtype: object

In [7]:
df2.infer_objects().dtypes

A    int64
dtype: object

---

In [8]:
# では文字列の代わりに浮動小数点数ではどうだろうか?

df3 = pd.DataFrame({"A": [9.876, 1, 2, 3]})
df3 = df3.iloc[1:]
df3

     A
1  1.0
2  2.0
3  3.0

In [9]:
df3.dtypes

A    float64
dtype: object

In [10]:
df3.infer_objects().dtypes

A    float64
dtype: object

In [11]:
df4 = pd.DataFrame({"A": [1, 2, 3]}, dtype='int8')
df4.dtypes

A    int8
dtype: object

In [12]:
df4.infer_objects().dtypes

A    int8
dtype: object

In [17]:
df_temp = pd.DataFrame({"A": [1, 2, 3]})
df_temp.dtypes

A    int64
dtype: object

In [14]:
df3.infer_objects().dtypes

A    int64
dtype: object

## じゃあ文字列を数字に変換する方法は?

to_numeric()を使いましょう。
これはDataFrameに対しては使えない。
Seriesに対して使える。

In [15]:
df7 = pd.Series(['1', '2', '3'])
df7.dtypes

dtype('O')

In [16]:
df7.to_numeric()

AttributeError: 'Series' object has no attribute 'to_numeric'

In [ ]:
pd.to_numeric(df7)