In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.3'

https://qiita.com/Hyperion13fleet/items/98c31744e66ac1fc1e9f  
複数変数が条件分岐の対象＆カテゴリ化したい

In [3]:
df = pd.DataFrame({
    'name'    : ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'height' : [1.66, 1.68, 1.70, 1.72, 1.75],
    'weight'    : [50, 55, 65, 75, 80]    
})

In [4]:
df

      name  height  weight
0    Alice    1.66      50
1      Bob    1.68      55
2  Charlie    1.70      65
3    David    1.72      75
4      Eve    1.75      80

In [5]:
# やせ／標準／肥満の定義は：
# https://www.e-healthnet.mhlw.go.jp/information/dictionary/metabolic/ym-002.html
def calc_shape(x):
    bmi = x.weight / (x.height ** 2)
    if bmi >= 25:
        return("Overweight")
    elif bmi >= 18.5:
        return("Normal")
    else:
        return("Thin")

In [6]:
df["body_shape"] = df.apply(lambda x: calc_shape(x), axis=1)

In [7]:
df

      name  height  weight  body_shape
0    Alice    1.66      50        Thin
1      Bob    1.68      55      Normal
2  Charlie    1.70      65      Normal
3    David    1.72      75  Overweight
4      Eve    1.75      80  Overweight

In [8]:
df = pd.DataFrame({
    'name'    : ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'height' : [1.66, 1.68, 1.70, 1.72, 1.75],
    'weight'    : [50, 55, 65, 75, 80]    
})

df2 = df[df["name"] == "Foo"]

In [9]:
df2

Empty DataFrame
Columns: [name, height, weight]
Index: []

In [10]:
df2["body_shape"] = df2.apply(lambda x: calc_shape(x), axis=1)

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [11]:
type(df2)

pandas.core.frame.DataFrame

In [12]:
df2.empty

True

In [13]:
len(df2)==0

True