In [1]:
import pandas as pd
import numpy as np
pd.options.display.notebook_repr_html = False  # jupyter notebook上での出力形式を制御するために書いています。無くても動きます。

In [2]:
# 動作環境の確認
print(pd.__version__)
print(np.__version__)

1.0.1
1.18.1

In [3]:
df = pd.DataFrame({'col_A': [1,2,3], 'col_B': ['p','q','r']})
df

   col_A col_B
0      1     p
1      2     q
2      3     r

In [4]:
df['new_col_1'] = ''
df

   col_A col_B new_col_1
0      1     p
1      2     q
2      3     r

In [5]:
df['new_col_2'] = None
df

   col_A col_B new_col_1 new_col_2
0      1     p                None
1      2     q                None
2      3     r                None

In [6]:
df['new_col_3'] = np.nan
df

   col_A col_B new_col_1 new_col_2  new_col_3
0      1     p                None        NaN
1      2     q                None        NaN
2      3     r                None        NaN

In [7]:
df['new_col_4'] = pd.NA
df

   col_A col_B new_col_1 new_col_2  new_col_3 new_col_4
0      1     p                None        NaN      <NA>
1      2     q                None        NaN      <NA>
2      3     r                None        NaN      <NA>

In [8]:
df.dtypes

col_A          int64
col_B         object
new_col_1     object
new_col_2     object
new_col_3    float64
new_col_4     object
dtype: object

In [9]:
df.isnull()

   col_A  col_B  new_col_1  new_col_2  new_col_3  new_col_4
0  False  False      False       True       True       True
1  False  False      False       True       True       True
2  False  False      False       True       True       True

In [10]:
df = pd.DataFrame({'col_A': [1,2,3], 'col_B': ['p','q','r'], 'col_C': [1.2,3.4,5.6]})
df

   col_A col_B  col_C
0      1     p    1.2
1      2     q    3.4
2      3     r    5.6

In [11]:
# col_Bとcol_Cの間に新しく列を追加する。最初の引数に位置を示す2を指定する
df.insert(2, 'new_col', np.NaN)

In [12]:
df

   col_A col_B  new_col  col_C
0      1     p      NaN    1.2
1      2     q      NaN    3.4
2      3     r      NaN    5.6